@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$soft: white;
$border: #05668d;
$Slot: 20px;
$SlotWithBorder: $Slot - 1px;
$BlankWidth: 150px;
$Boxwidth: 450px + 100px + 4px;
.App {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.Modal{
  margin-top: 25px;
  width: 250px;
  height: 400px;
  border: solid 15px $border;
  border-radius: 10px;
  background-color: transparent;

}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    color: white;
    margin-bottom: 5px;
    background-color: $border;
    // border-bottom: solid 15px $border;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  h2{
    margin-top: 5px;
  font-size: 1.15rem;
  }
  select{
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    color: $border;
    border: solid 2px $border;
    border-radius: 10px;
    margin-top: 10px;
    width: 200px;
    height:50px;
  }
}
.ModalButton{
    background-color: Transparent;
    outline: none;
    border: solid 5px $border;
    color: $border;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-top:10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .15s ease-in;
    p{
      margin: 8px;
      font-weight: 500;
    } 
}
.ModalButton:hover{
  transform: scale(1.01);
  background-color: $border;
  color: white;
}
.Button{
background-color: Transparent;
outline: none;
border: solid 2px white;
color: white;
font-size: 1rem;
transition: .15s ease-in;
border-radius: 10px;
p{
  margin: 8px;
  font-weight: 500;
}
}
.Button:hover{
  cursor: pointer;
  background-color: white;
  color: $border;
  transform: scale(1.05);
}
.Bubble {
  transition: .15s;
}
.Bubble:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.Available{
  margin: 0px;
  padding:0px;
}
.HeaderContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $Boxwidth;
  margin: 0px 0px 0px 41px;
}
.Header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $border;
  font-size: 1.5rem;
  color: white;
}
.Chart{
  position: relative;
  display: flex;
  flex-direction: row;
}
#Available{
  font-size: .95rem;
  line-height: 1.1;
  padding-left: 2px;
}
.ScheduleBox{
  display: flex;
  justify-content: flex-start;
  padding-bottom:15px;
  margin:0px;
  border: solid 15px $border;
  border-radius: 10px;
  margin: 25px;
  width: $Boxwidth;
  max-height:680px;
}
.TitleBar{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $Slot + $Slot;
  max-width: 100px;
  border-right: solid 1px $border;
  border-bottom: solid 15px $border;
}
.TitleBar2{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $Slot + $Slot;
  max-width: 150px;
  border-bottom: solid 15px $border;
  border-right: 1px solid $border;
}
.TimeTitle{
  font-size: 1rem;
  min-height: $SlotWithBorder;
  max-height: $SlotWithBorder;
  border-top: solid 1px black;
  border-right: solid 1px black;
  width: 100px;
  background-color: $soft;
  // overflow: hidden;
  p{
    font-size: 15px;
    margin: 0px;
    padding: 2px
  }
}
.TimeTitle2{
  font-size: 1rem;
  min-height: $SlotWithBorder;
  max-height: $SlotWithBorder;
  border-top: solid 1px black;
  border-right: solid 1px black;
  width: $BlankWidth;
  background-color: $soft;
  // overflow: hidden;
  p{
    font-size: 15px;
    margin: 0px;
    padding: 2px
  }
}
.TimeEmpty{
  min-width: 30px;
  width: 100px;
  min-height: $SlotWithBorder;
  border-top: 1px solid rgba(0, 0, 0, 0.089);
  border-right: 1px solid black;
}
.TimeEmpty2{
  min-width: 30px;
  width: 150px;
  min-height: $SlotWithBorder;
  border-top: 1px solid rgba(0, 0, 0, 0.089);
  border-right: 1px solid black;
}
